<html>
  <body>
    <div class="container">
        <div class="progress" *ngIf="places.length == 0">
            <div class="indeterminate"></div>
        </div>
        <div class="row" *ngIf="places.length == 2">
            <div class="col s12 m6" *ngFor="let place of places">
              <div class="card">
                <div class="card-content">
                    <div class="row description">
                        <div class="col s12 m12 center-align">
                          <span class="name">
                            {{place.name}}
                          </span>
                          <span class="date">
                              {{date}}
                            </span>
                        </div>
                    </div>
                  </div>
                    <div class="card-image">
                      <ng-container *ngFor="let cam of place.cams">
                        <img src = {{cam}}>
                      </ng-container>
                    </div>
              </div>
            </div>
          </div> 
    </div>
  </body>
</html>
