img{
    width:100%;
}

.progress{
    margin-top:20%;
}

.date{
    position:absolute;
    top:2%;
    right:2%;
    font-size: 80%;
    font-weight: bold;
    color: rgb(180, 183, 185);
}

.name{
    font-size: 150%;
}