@media screen and (min-width: 900px){
    .card{
        width:30%;
        margin-left:35%;
        margin-top:5%;
    }
}

@media screen and (max-width: 900px){
    body{
        padding: 0;
        margin: 0;
    }
}

.error{
    color: red;
    font-size: 12px;
}

.sent{
    color: green;
    font-size: 12px;
}

body{
    min-width: 320px;
    margin: 0 0 100px;
    font-family: 'Roboto', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

.row{
    margin:-5%;
}

form{
    padding-bottom: 10%;
}