.tabs .tab a{
    color:black;
}

.tabs .tab a.active {
    color:orange;
}

footer {
    background-color: rgb(68, 67, 64);
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    color:rgb(143, 136, 136);
    text-align: center;
}