.tabs .tab a{
    color:rgb(53, 49, 49);
    font-weight: bold;
}

.tabs .tab a.active {
    color:rgb(255, 123, 0);
    font-weight: bold;
}

footer {
    background-color: rgb(68, 67, 64);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    color:rgb(143, 136, 136);
    text-align: center;
}

.nav-extended{
    padding-top:2%;
}