<nav class="nav-extended">
  <div class="container">
  <div class="nav-wrapper">
    <img src="../../assets/logo.jpg" height="100px">
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a routerLink="" routerLinkActive="active" >About us</a></li>
      <li class="tab"><a routerLink="/skicams" routerLinkActive="active" >Skicams</a></li>
      <li class="tab"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      <div class="indicator orange" style="z-index:1"></div>
    </ul>
  </div>
</div>
</nav>

<router-outlet></router-outlet>

<footer class="page-footer">
    <hr>
    Powered by PGS
</footer>