body{
    min-width: 320px;
    margin: 0 0 100px;
    font-family: 'Roboto', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

hr{
    width:200px;
    border-color:rgb(122, 116, 116);
}

.nav-extended{
    background-color: white;
}

.row{
    padding-top: 5%;
}

.container{
    width:60%;
}

.content{
    width:60%;
    margin-left:20%; 
}

/* @media screen and (max-width: 900px){
    .content{
        padding-bottom:30%;
        background-color: red;
    }
  } */
